/* ********** SITE-WIDE *********** */ 

html{
    background-color: #0c24c5;
    font-family: aktiv-grotesk, sans-serif;
}

p{
    font-size: 16px;
    color: white;
} 
h1{
  color: white;
}

/************ HEADER THANGS ***********/

.site-header{
  background-color: #0c24c5;
  height: 100px;
  vertical-align: top;
}

.site-logo{
  display:block;
  position: relative;
  width: 200px;
  top: 40px;
}

.db-logo{
  display:block;
  position: relative;
  width: 5%;
  top: 50px;
}

.site-header li{
  color: white;
  list-style: none;
  display: inline-block;
}

#site-title{
  display: block;
  position: relative;
  width: 150px;
  left: 25%;
  padding: 4px;
  color: white;
  height: 20px;
}

.button-wrap{
  display: block;
  position: relative;
  bottom: 70px;
  margin: 15px;
  padding: 4px;
  bottom: 85px;
  position: relative;
  float: right;
}

 .sub-button{
  display: block;
  position: relative;
  background: #0C24C5;
  height: 50px;
  border: 2px solid white;
  color: white;
  text-align: center;
  line-height: 8px;
  border-radius: 100rem;
  padding: 18px 39px;
  font-size: 13px;
  transition: .2s ease all;
}
.sub-button:hover{
  transition: .2s ease all;
  background: white;
  color: #0C24C5;
} 
/******************** NAV THANGS *************/

.site-nav ul {
  margin: auto, 0;
  position: relative;
  text-align: center;  
}
.site-nav a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 10px;
  font-size: 14px;
  text-transform: uppercase;

}




/************* MAIN THANGS *******************/

.main-sect{
    height: 50%;
    position: relative;
    top: 30%;
    /* background-color: aqua; */
}

.header-tag{
    margin: 140px auto;
    position: relative;
    top: 35%;
    /* background-color: green; */
    text-align: center;
    border: 2px solid white;
}
h1{
    font-size: 50px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    /* background-color: orange; */
    text-transform: capitalize;
}
.content-box{
    /* background-color: tan; */
    padding: 10px;
    position: relative;
    max-width: 50%;
    margin: 0 auto;
}
.content-box, p{
    text-align: center;
}
